node_modules/
api/.DS_Store
.DS_Store
UserManagement/.DS_Store
UserManagement/src/.DS_Store
UserManagement/src/main/.DS_Store
UserManagement/src/main/java/.DS_Store
UserManagement/src/main/java/com/.DS_Store
UserManagement/src/main/java/com/ads/.DS_Store
UserManagement/src/main/java/com/ads/usermanagement/.DS_Store
.idea
.mvn
HELP.md
mvnw
mvnw.cmd
target/
UserManagement.iml
src/test
main/resources/static
main/resources/templates
DataRetrieval/venv
DataRetrieval/__pycache__
ModelExecution/__pycache__
ModelExecution/auth.ini
ModelExecution/geckodriver.log
ModelExecution/venv
PostProcessing/__pycache__
PostProcessing/venv
APIGateway/.DS_Store
Sessionmanagement-2/.gitignore
Sessionmanagement-2/.idea
Sessionmanagement-2/.mvn
Sessionmanagement-2/mvnw
Sessionmanagement-2/mvnw.cmd
Sessionmanagement-2/sessionmanagement-2.iml
Sessionmanagement-2/target
Sessionmanagement-2/src/test
Sessionmanagement-2/src/main/resources/static
Sessionmanagement-2/src/main/resources/templates
Sessionmanagement-2/src/main/.DS_Store
Sessionmanagement-2/src/main/java/.DS_Store
Sessionmanagement-2/src/main/java/com/.DS_Store
Sessionmanagement-2/src/main/java/com/example/.DS_Store
Sessionmanagement-2/src/main/java/com/example/sessionmanagement2/.DS_Store