node_modules/
api/.DS_Store
.DS_Store
UserManagement/.DS_Store
UserManagement/src/.DS_Store
UserManagement/src/main/.DS_Store
UserManagement/src/main/java/.DS_Store
UserManagement/src/main/java/com/.DS_Store
UserManagement/src/main/java/com/ads/.DS_Store
UserManagement/src/main/java/com/ads/usermanagement/.DS_Store
.idea
.mvn
HELP.md
mvnw
mvnw.cmd
target/
UserManagement.iml
src/test
main/resources/static
main/resources/templates
DataRetrieval/venv
DataRetrieval/__pycache__
ModelExecution/__pycache__
ModelExecution/auth.ini
ModelExecution/geckodriver.log
ModelExecution/venv
ModelExecution/lineplot.png
PostProcessing/__pycache__
PostProcessing/venv
APIGateway/.DS_Store
ModelExecution/__pycache__
sessionmanagement-2/.idea
sessionmanagement-2/.mvn
sessionmanagement-2/mvnw
sessionmanagement-2/mvnw.cmd
sessionmanagement-2/sessionmanagement-2.iml
sessionmanagement-2/target
sessionmanagement-2/src/test
sessionmanagement-2/src/main/resources/static
sessionmanagement-2/src/main/resources/templates
sessionmanagement-2/src/main/.DS_Store
sessionmanagement-2/src/main/java/.DS_Store
sessionmanagement-2/src/main/java/com/.DS_Store
sessionmanagement-2/src/main/java/com/example/.DS_Store
sessionmanagement-2/src/main/java/com/example/sessionmanagement2/.DS_Store
